/* =========================
   MAIN LAYOUT
========================= */
.main-content {
    margin-top: 70px;
    margin-left: 80px;
    padding: 0;
    transition: margin-left 0.3s ease;
    position: relative;
    z-index: 1;
}

.sidebar.expanded ~ .main-content {
    margin-left: 250px;
}

/* =========================
   PROFILE / CHANGE INFO
========================= */
.profile-wrapper {
    background: #fff;
    padding: 32px 40px;
    min-height: calc(100vh - 70px);
    position: relative;
}

/* TITLE */
.section-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.section-subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #555;
}

.section-divider {
    margin: 30px 0 20px;
    font-weight: 600;
    font-size: 18px;
}

/* INFO */
.info-label {
    font-size: 15px;
    color: #666;
    margin-bottom: 4px;
}

.info-box {
    background: #d9d9d9;
    border-radius: 16px;
    padding: 6px 14px;
    font-size: 14px;
    margin-bottom: 14px;

    display: flex;
    align-items: center;
    height: 38px;
}

.info-input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    height: 100%;
}

/* BUTTON */
.btn-change {
    background: #19FF00;
    color: black;
    border-radius: 18px;
    padding: 6px 22px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.btn-change:hover {
    opacity: 0.9;
}

/* LINK */
.link-detail {
    font-size: 15px;
    color: #1e66ff;
    text-decoration: underline;
    margin-left: 6px;
    cursor: pointer;
}

/* SUCCESS */
.success-text {
    font-size: 13px;
    color: green;
    margin-top: 6px;
}

/* =========================
   BACK TO PROFILE
========================= */
.back-link {
    font-size: 25px;
    color: #333;
    margin-top: 30px;
    float: right;
    text-decoration: none;
}

/* TABLE NORMAL - GRAY BORDER */
.table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

/* HEADER */
.table thead th {
    border: 1px solid #d9d9d9;
    background: #f5f5f5;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 12px;
    color: #444;
}

/* BODY */
.table tbody td {
    border: 1px solid #d9d9d9;
    padding: 10px 12px;
    font-size: 14px;
    color: #333;
}

/* ROW HOVER (rất nhẹ) */
.table tbody tr:hover {
    background: #fafafa;
}

/* CENTER ALL TABLE CONTENT */
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.btn-warning {
    background: #ffa500;
    color: black;
    border-radius: 18px;
    padding: 6px 22px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.btn-danger {
    background: red;
    color: black;
    border-radius: 18px;
    padding: 6px 22px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.btn-primary{
    background: #1e66ff;
    color: #fff;
    border-radius: 18px;
    padding: 6px 18px;
    font-size: 13px;
    border: none;
}


